@model HicsMVC.Models.LampAssignmentModel
@{
    ViewBag.Title = "Lamp Assignment";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@*Überschrift*@

<div>
    <div>
        <a href="~/Admin/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Lamp Assignment</h2>
    </div>
</div> 

<br style="clear:both;" />

    @*Combine Group*@

    <div align="center" class="mainframe">
            @using (Html.BeginForm("Assignment", "LampAssignment"))
            {
                <table>
                    <tr>
                        <td @*class="addpadding"*@>Group</td>
                        <td @*class="addpadding"*@>Lamp</td>
                    </tr>

                    <tr>
                        <td>@Html.DropDownList("groupname", new SelectList(Model.grouplist, "roomgroupname", "roomgroupname"), "--Select Group--", new { @class = "inputdesign" }) </td>

                        <td>@Html.DropDownList("lamp_id", new SelectList(Model.lamplist, "id", "name"), "--Select Lamp--", new { @class = "inputdesign" }) </td>
                        <td><input class="boxdesign" type="submit" name="assign" value="Assign" /></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.grouplist , String.Empty, new { @style = "color:red;font-weight:bold;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.lamplist, String.Empty, new { @style = "color:red;font-weight:bold;" })</td>
                        <td></td>                    
                    </tr>
                </table>
            }

    @*Ausgabeliste*@
    <div class="borderframe">
        <table height="210">
            <tr>
                <th align="left">Groupname</th>
                <th align="left">Lampname</th>
                <th></th>
            </tr>
            @foreach (var item in Model.lampAssignmentList)
            {
                <tr class="boxrow">
                    <td class="listframepadding">@item.gruppen_name </td>
                    <td class="listframepadding">@item.lampen_name </td>
                    <td>@Html.ActionLink("Delete", "DeleteEntry", "LampAssignment", new { @groupname = item.gruppen_name, @lamp_id = (int)item.lampen_id }, null)</td>
                </tr>
            }
        </table>
        </div>
    </div>
    


