@model List<HicsBL.fn_show_lamp_control_history_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@*Kopfzeileninformationen - Zurück-Button, Überschrift, Logout-Button*@
<div>
    <div>
        <a href="~/User/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Statistic</h2>
    </div>
</div>
<br style="clear:both;" />

@*Benutzername*@
<table style="padding-left:10px;">
    <tr>
        <td style="color:#054588; font-weight:bold">Username: </td>
        <td style="font-weight:bold"">@if (ViewBag.Username != null)
        {
            @ViewBag.Username }
        else
        {
            <text>User not found</text> }</td>
    </tr>
</table><br />

@*Ausgabe der gefilterten Statistik-Liste für den eingeloggten User*@
<div align="center">
    <table style="min-width:513px;margin-left:120px;">
        <tr>
            <th align="left">Date</th>
            <th align="left" style="padding-left:70px;">Adresse</th>
            <th align="left" style="padding-left:10px;">Lampname</th>
            <th align="left" style="padding-left:10px;">Status</th>
            <th align="left">Brightness</th>
            @*<th align="left">Username</th>*@
            <th></th>
        </tr>
    </table>
    <div class="borderframe" style="overflow:auto;">
        <table>
            @*<tr>
                <th align="left">Date</th>
                <th align="left">Adresse</th>
                <th align="left">Lampname</th>
                <th align="left">Status</th>
                <th align="left">Brightness</th>
                @*<th align="left">Username</th>*@
                @*<th></th>
            </tr>*@
            @foreach (var item in Model)
            {
                <tr>
                    <td class="listenpaddingstatistic">@item.date</td>
                    <td class="listenpaddingstatistic">@item.address </td>
                    <td class="listenpaddingstatistic">@item.lamp_name </td>
                    <td class="listenpaddingstatistic">@item.status</td>
                    <td class="listenpaddingstatistic">@item.brightness</td>
                    @*<td class="listenpadding">@item.user_name</td>*@
                </tr>
            }
        </table>
    </div>
</div>


