@model HicsBL.fn_show_lamp_control_Result

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div>
    <div>
        <a href="~/Admin/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Lamp Edit</h2>
    </div>
</div>
<br style="clear:both;" />

@using (Html.BeginForm("Edit", "LampControl"))
{

    <div align="center">
        <div class="lampcontainer">
            <table>
                <tr>
                    <th class="lampcontr">ID</th>
                    <th class="lampcontr">Adress</th>
                    <th class="lampcontr">Groupname</th>
                    <th class="lampcontr">Lampname</th>
                    <th class="lampcontr">Status</th>
                    <th class="lampcontr">Brightness</th>
                </tr>
                <tr>
                    <td>
                        @Model.lamp_id
                        @Html.HiddenFor(x => x.lamp_id)
                    </td>

                    <td>
                        @Model.address
                        @Html.HiddenFor(x => x.address)
                    </td>

                    <td>@Model.groupname</td>
                    @Html.HiddenFor(x => x.groupname)

                    <td>@Model.lampname</td>
                    @Html.HiddenFor(x => x.lampname)
                    <td>

                        @{ bool status = (bool)Model.status;}
                        @Html.CheckBoxFor(x => status)
                    </td>


                    <td>
                        <input type="range" value="@Model.brightness" min="0" max="254" name="wert" onchange="updateTextInput(this.value);" />
                        @Html.TextBoxFor(x => Model.brightness)
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                        <a  href="~/LampControl/Index"><div class="imgDesign"></div></a>
                    </td>
                    <td class="rechts">
                        <input type="submit" value="" class="sendbutton"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>

}


<script type="text/javascript">
    function updateTextInput(val) {
        document.getElementById('brightness').value = val;
    }
</script>