@model List<HicsMVC.Models.LampControl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}



<div class="left">
    <h2>Lamp Control</h2>
</div>


<div class="middle">
    <h2></h2>
</div>

<div class="right">
    <a href="~/Logout/Logout">
        <div class="logout"></div>
    </a>
</div>

<br style="clear:both;" />

<form>

    <div class="lampcontainer">
        <table class="lampcon">
            <tr class="tr">
                
                <th class="lampcontr">Groupname</th>
                <th class="lampcontr">Lampname</th>
                <th class="lampcontr">OnOff</th>
                <th class="lampcontr">Dimmer</th>

                <th class="lampcontr">Edit</th>
                
            </tr>
            @foreach (var item in Model)
            {
               
                <tr class="tr">
                    
                    <td class="lampcontd">@item.groupname</td>
                    <td class="lampcontd">@item.lampname</td>
                    <td class="lampcontr">@item.OnOff</td>
                    <th class="lampcontr">@item.dimmer</th>
                    <td class="lampcontd">
                        @Html.ActionLink("Edit","Edit",new { @id=item.id}, new { @class = "edit" })
                        
                    </td>
                </tr>

            }
        </table>


    </div>

</form>
            <div class="left">
                <h2></h2>
            </div>


            <div class="middle">
                <h2></h2>
            </div>
            <div class="right">
                <div style="width:100%;">
                    <a href="~/Admin/Index">
                        <div class="home1"></div>
                    </a>
                </div>


               
            </div>

<script type="text/javascript">


</script>