@model HicsMVC.Models.LoginModel

@{
    ViewBag.Title = "LoginController/Login";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@* = @using (Html.BeginForm("Login"(=ActionName), "Login"(=ControllerName), FormMethod.Post)) *@  
@using (Html.BeginForm())
{
    <div class="leftpadding">        
        <h2>Login</h2>           
        <div> 
            <p>@Html.LabelFor(x => x.Username, new { @class="paragraphtext" }):</p>         
            @Html.TextBoxFor(x => x.Username, new { @class="divinputpadding", placeholder="Username" }) 
            @Html.ValidationMessageFor(x => x.Username, String.Empty, new { @class = "requiredField" }) @* Username-Validierungstext - wird im Model festgelegt *@     
        </div>
        <div>
            <p>@Html.LabelFor(x => x.Password, new { @class="paragraphtext" }):</p> 
            @Html.PasswordFor(x => x.Password, new { @class="divinputpadding", placeholder="Password" })
            @Html.ValidationMessageFor(x => x.Password, String.Empty, new { @class="requiredField" }) @* Password-Validierungstext - wird im Model festgelegt *@
        </div>
        <div class="bottomatbutton paddingtop">
            <input class="divinputpadding" type="submit" name="LoginButton" value="Login" />@* Submit-Button für Login *@            
                <div class="errorMsg">
                    @ViewBag.errorMessage                    
                </div>       
         </div>         
    </div>
}