@model List<HicsBL.fn_show_lamp_control_Result>
@{
    ViewBag.Title = "Lamp Assignment";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@*Überschrift*@

<div class="leftpfeifer" style="margin-bottom: 0;">
    <h2>Lamp Assignment</h2>
</div>
<div>
    <a href="~/Logout/Logout">
        <div class="logoutpfeifer"></div>
    </a>
</div>


<br style="clear:both;" />

@*Combine Group*@
<div align="center" class="mainframe">
        @using (Html.BeginForm("Assignment", "LampAssignmentController"))
        {
            <table class="toptextscroll">
                <tr>
                    <td class="addpadding">Group</td>
                    <td class="addpadding">Lamp</td>
                </tr>

                <tr>
                    <td>@Html.DropDownList("groupselect", new SelectList((List<HicsBL.fn_show_lampgroups_Result>)ViewBag.GroupList, "id", "roomgroupname"), "--Select Group--") </td>

                    <td>@Html.DropDownList("lampselect", new SelectList(ViewBag.LampList, "id", "name"), "--Select Lamp--") </td>
                    <td><input class="boxdesign" type="submit" name="assign" value="Assign" /></td>
                    <td></td>
                </tr>
            </table>
        }

@*Ausgabeliste*@
<div align="center" class="borderframe">
    <table @*class="borderframe"*@>
        <tr>
            <th align="left">Groupname</th>
            <th align="left">Lampname</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="boxrow">
                <td class="listframepadding">@item.groupname </td>
                <td class="listframepadding">@item.lampname </td>
                <td>@Html.ActionLink("Delete", "DeleteEntry", "LampAssignment", new { item.lamp_id.Value, item.groupname })</td>
            </tr>
        }
    </table>
</div>
    
<br /><br />

</div>
<div style="width:100%;">
<a href="~/Admin/Index"><div class="homepfeifer"></div></a>
</div>
