@model HicsMVC.Models.UserChangePasswordModel

@{
    ViewBag.Title = "UserController/ChangePassword";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div>
    <div>
        <a href="~/UserAdd/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Change Password</h2>
    </div>
</div>

@*Löscht alle Floats*@
<br style="clear:both;" />

<div align="left" class="mainframe">

    @* = @using (Html.BeginForm("ChangePassword"(=ActionName), "User"(=ControllerName), FormMethod.Post)) *@
    @using (Html.BeginForm())
    {
        <div class="leftpadding">
            <div>
                <p>@Html.LabelFor(x => x.NewPassword, new { @class = "paragraphtext" }):</p>
                @Html.PasswordFor(x => x.NewPassword, new { @class = "divinputpadding", placeholder = "NewPassword" })
                @Html.ValidationMessageFor(x => x.NewPassword, String.Empty, new { @class = "requiredField" }) @* NewPassword-Validierungstext - wird im Model festgelegt *@
            </div>
            <div>
                <p>@Html.LabelFor(x => x.RetypeNewPassword, new { @class = "paragraphtext" }):</p>
                @Html.PasswordFor(x => x.RetypeNewPassword, new { @class = "divinputpadding", placeholder = "RetypeNewPassword" })
                @Html.ValidationMessageFor(x => x.RetypeNewPassword, String.Empty, new { @class = "requiredField" }) @* RetypeNewPassword-Validierungstext - wird im Model festgelegt *@
            </div>
            <div class="bottomatbutton paddingtop">
                <input class="divinputpadding" type="submit" name="SaveButton" value="Save" />@* Submit-Button für Change Password *@
            </div>
        </div>
    }
</div>


