@model HicsMVC.Models.AdminResetPasswordModel

@{
    ViewBag.Title = "AdminController/ResetPassword";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@* = @using (Html.BeginForm("ResetPassword"(=ActionName), "Admin"(=ControllerName), FormMethod.Post)) *@
@using (Html.BeginForm())
{
    <div style="width:100%;">
        <div class="left">
            <h2>Reset Password</h2>
        </div>
        <div class="middle">
            <h2></h2>
        </div>
        <div class="right">
            <a href="~/Login/Login">
                <div class="logout"></div>
            </a>
        </div>
    </div>

    @*Löscht alle Floats*@
    <br style="clear:both;" />

    <div class="leftpadding">        
        <div>
            <p>@Html.LabelFor(x => x.NewPassword, new { @class="paragraphtext" }):</p>
            @Html.PasswordFor(x => x.NewPassword, new { @class="divinputpadding", placeholder="Password456"})
            @Html.ValidationMessageFor(x => x.NewPassword) @* NewPassword-Validierungstext - wird im Model festgelegt*@           
        </div>
        <div>
            <p>@Html.LabelFor(x => x.RetypePassword, new { @class="paragraphtext" }):</p>
            @Html.PasswordFor(x => x.RetypePassword, new { @class="divinputpadding", placeholder="Password456"})
            @Html.ValidationMessageFor(x => x.RetypePassword) @* RetypePassword-Validierungstext - wird im Model festgelegt*@
        </div>
        <div class="bottomatbutton paddingtop">
            <input class="divinputpadding" type="submit" name="SaveButton" value="Save" />@* Submit-Button für Change Password *@
        </div>
    </div>
    <div style="width:100%;">
        <div class="left">
            <h2></h2>
        </div>
        <div class="middle">
            <h2></h2>
        </div>
        <div class="right">
            <a href="~/Admin/Index">
                <div class="home"></div>
            </a>
        </div>
    </div>
}



