@model HicsMVC.Models.UserChangePasswordModel

@{
    ViewBag.Title = "UserController/ChangePassword";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@* = @using (Html.BeginForm("ChangePassword"(=ActionName), "User"(=ControllerName), FormMethod.Post)) *@
@using (Html.BeginForm())
    {
    <div style = "width:100%;" >
    <div class="left">
        <h2>Change Password from User</h2>
    </div>
    <div class="middle">
        <h2></h2>
    </div>
    <div class="right">
        <a href="~/Login/Login">
            <div class="logout"></div>
        </a>
        </div>
    </div>

    @*Löscht alle Floats*@
<br style="clear:both;"/>

    <div class="leftpadding">
        <div>
            <br />           
            <p>@Html.LabelFor(x => x.RecentPassword, new { @class="paragraphtext" }):</p>
            @Html.PasswordFor(x => x.RecentPassword, new { @class="divinputpadding", placeholder="Password123" })
            @Html.ValidationMessageFor(x => x.RecentPassword) @* RecentPassword-Validierungstext - wird im Model festgelegt *@            
        </div>
        <div>            
            <p>@Html.LabelFor(x => x.NewPassword, new { @class="paragraphtext" }):</p>
            @Html.PasswordFor(x => x.NewPassword, new { @class="divinputpadding", placeholder="Password789" })
            @Html.ValidationMessageFor(x => x.NewPassword) @* NewPassword-Validierungstext - wird im Model festgelegt *@            
        </div>
        <div>           
            <p>@Html.LabelFor(x => x.RetypeNewPassword, new { @class="paragraphtext" }):</p>
            @Html.PasswordFor(x => x.RetypeNewPassword, new { @class="divinputpadding", placeholder="Password789" })
            @Html.ValidationMessageFor(x => x.RetypeNewPassword) @* RetypeNewPassword-Validierungstext - wird im Model festgelegt *@        
        </div>
        <div class="bottomatbutton paddingtop">
            <input class="divinputpadding" type="submit" name="SaveButton" value="Save" />@* Submit-Button für Change Password *@
        </div>
    </div>
    <div style="width:100%;">
        <div class="left">
            <h2></h2>
        </div>
        <div class="middle">
            <h2></h2>
        </div>        
        <div class="right">
            <a href="~/User/Index">
                <div class="home"></div>
            </a>            
        </div>
    </div>
}


