@model HicsMVC.Models.UserAddModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}
@*Überschrift*@

<div>
    <div>
        <a href="~/Admin/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Add User</h2>
    </div>
</div> 

<br style="clear:both;" />

<div align="left" class="mainframe">   
    @*Eingabe eines users/admins durch Checkbox*@

    @using (Html.BeginForm("AddAdditionalUser", "UserAdd"))
    {  
        <table align="center">
            <tr>
                <td>
                    @Html.TextBoxFor(model => model.NewUserName, new { @class = "boxdesign", @placeholder = "Username" })
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsAdmin) Admin
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(model => model.NewUserPassword, new { @class = "boxdesign", @placeholder = "Password" })
                </td>                
                <td>
                    @Html.PasswordFor(model => model.RetypeNewUserPassword, new { @class = "boxdesign", @placeholder = "Retype Password" })
                </td>
            </tr>
            <tr>
                <td>
                    <input class="boxdesign" type="submit" name="AddAdditionalUser" value="AddUser" />
                </td>                          
            </tr>
            <tr>
                <td>@Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </tr>
        </table>


    }

    @*Ausgabeliste*@
    <div align="center" class="borderframe">
        <table>
            <tr>
                <th align="left" colspan="2">Users</th>
            </tr>
            @for (int i = 0; i < Model.Userlist.Count; i++)
            {
                <tr class="boxrow">
                    <td class="listframepadding">@Model.Userlist[i].name</td>
                    <td class="listframepadding">@Model.Userlist[i].group</td>
                    <td> @Html.ActionLink("Delete", "DeleteUser", new { @id = Model.Userlist[i].id }, new { @class = "deletedesign" })
                </tr>
            }
        </table>
    </div>
</div>


