@model HicsMVC.Models.LampSetupModel
@{
    ViewBag.Title = "Lamp Setup";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<div class="leftpadding">

    @*Überschrift*@
    <div style="width:100%;">
        <div class="left">
            <h2>Lamp Setup</h2>
        </div>
        <div class="middle">
            <h2></h2>
        </div>
        <div class="right">
            <a href="~/Logout/Logout">
                <div class="logout"></div>
            </a>
        </div>
    </div>
    
    <br style="clear:both;" />

    @*Lampe Hinzufügen*@
     
    @using (Html.BeginForm("AddLamp", "LampSetupController"))
    {

            <table class="toptext">
                <tr>
                    <td class="addpadding">ID</td>
                    <td colspan="2">Description</td>
                </tr>
                <tr>
                    <td> @Html.TextBoxFor(model => model.Id, new { @class = "boxdesign", @placeholder = "ID"}) </td>
                    <td> @Html.TextBoxFor(model => model.Description, new { @class = "boxdesign", @placeholder = "Description"})</td>
                    <td> <input class="boxdesign" type="submit" value="Add Lamp" /></td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.Id, String.Empty, new { @style = "color:red;font-weight:bold;" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @style = "color:red;font-weight:bold;" })
                    </td>
                </tr>
            </table>
    }

    @*Ausgabeliste*@
    <div class="listframe">

        <table>
            <tr>
                <th align="left">ID</th>
                <th align="left">Description</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Lamplist.Count; i++)
            {
                <tr class="boxrow">
                    <td class="listframepadding">@Model.Lamplist[i].address</td>
                    <td class="listframepadding">@Model.Lamplist[i].name</td>
                    <td>@Html.ActionLink("Delete", "DeleteLamp", new { @id = Model.Lamplist[i].id, @class = "deletedesign" })</td>
                </tr>
            }
        </table>        
    </div>
</div>

<div class="left"><h2></h2></div>
<div class="middle"><h2></h2></div>
<div class="right">
    <div style="width:100%;">
        <a href="~/Admin/Index"><div class="home"></div></a>
    </div>
</div>