

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<div class="left">
    <h2>Lamp Control</h2>
</div>


<div class="middle">
    <h2></h2>
</div>

<div class="right">
    <a href="~/Logout/Logout">
        <div class="logout"></div>
    </a>
</div>

<br style="clear:both;" />

@using (Html.BeginForm())
{

    <div class="lampcontainer">

        <table>
            <tr>
                <th class="lampcontr">ID</th>
                <th class="lampcontr">Groupname</th>
                <th class="lampcontr">Lampname</th>
                <th class="lampcontr">OnOff</th>
                <th class="lampcontr">Dimmer</th>
            </tr>
            <tr>

                <td>
                    @Model.id @*Text*@
                    @Html.HiddenFor(x => x.id)@*HTML-Steuerelement*@
                </td>


                <td>@Model.groupname</td>
                @Html.HiddenFor(x => x.groupname)

                <td>@Model.lampname</td>
                @Html.HiddenFor(x => x.lampname)

                <td>
                    @Html.CheckBoxFor(x => x.OnOff)
                </td>


                <td>
                    <input type="range" value="@Model.dimmer" min="0" max="255" name="wert" onchange="updateTextInput(this.value);" />
                    @Html.TextBoxFor(x => x.dimmer)
                </td>

            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" />


                </td>
            </tr>
        </table>



    </div>

}


<div class="left">
    <h2></h2>
</div>


<div class="middle">
    <h2></h2>
</div>
<div class="right">
    <div style="width:100%;">
        <a href="~/Admin/Index">
            <div class="home1"></div>
        </a>
    </div>



</div>
<script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('dimmer').value=val;
    }
</script>