@model HicsMVC.Models.GroupSetupModel

@{
    ViewBag.Title = "Group Setup";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

    @*Überschrift*@

<div>
    <div>
        <a href="~/Admin/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>Group Setup</h2>
    </div>
</div> 

    <br style="clear:both;" />

    @*Gruppe Hinzufügen*@

    <div align="center" class="mainframe">
        @using (Html.BeginForm("AddGroup", "GroupSetup"))
        {
            <table class="toptextscroll">
                <tr>
                    <td class="addpadding" colspan="2">Groupname</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(model => model.Groupname , new { @class = "boxdesign", @placeholder = "Groupname" })</td>
                    <td><input class="boxdesign" type="submit" name="addgroup" value="Add Group" /></td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(model => model.Groupname, String.Empty, new { @style = "color:red;font-weight:bold;" })</td>
                </tr>
            </table>
        }

        @*Ausgabeliste*@
        <div align="center" class="borderframe">
            <table>
                <tr>
                    <th align="left" colspan="2">Groupname</th>
                </tr>
                @*@foreach (var item in ViewBag.GroupList )
                {
                    <tr class="boxrow">
                        <td class="listframepadding"> item.roomgroupname</td>
                        <td> @Html.ActionLink("Delete", "DeleteUser", new { @id = @item.id , @class = "deletedesign" })
                    </tr>
                }*@
                @for (int i = 0; i < Model.GroupSetupList.Count; i++)
                {
                    <tr class="boxrow">
                        <td class="listframepadding"> @Model.GroupSetupList[i].roomgroupname</td>
                        <td>@Html.ActionLink("Delete", "DeleteGroup", new { @id = Model.GroupSetupList[i].id }, new { @class = "deletedesign" })
                    </tr>
                }
            </table>
    </div>
</div>